.header {
    padding: 20px;
    text-align: right;
    justify-content: space-between;
    background-color: #FABC2A;
    box-shadow: 1px 0px 10px 1px black; 
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: row-reverse; 
}

.link {
    color: rgb(53, 53, 53);
    text-decoration: none;
}



.link:hover{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    transform: scale(1.5); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

.item {
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    padding: 14px;
}

.logo-container{
    display: flex;
    flex-direction: row;
}

.text-logo {
    margin-left: 12px;
    color: rgb(53, 53, 53)
}

.logo {
    width: 10%;
}